.article__socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1.5rem;
}
.list__socialLinks_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-items: center;
}
.list__socialLinks_container li {
  padding: 1rem;
}
.anchor__socialLinks_btn {
  cursor: pointer;
  font-size: clamp(1.6rem, 3vw, 2rem);
  padding: 0.5rem 0.775rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 9999px;
  background-color: var(--primary-500);
  color: var(--primary-800);
  box-shadow: var(--shadow-2);
}
.anchor__socialLinks_btn:hover {
  background-color: var(--primary-800);
  color: var(--primary-500);
  box-shadow: var(--shadow-4);
}
.anchor__socialLinks_icons {
  padding-bottom: 0.5rem;
  font-size: clamp(2.5rem, 3vw, 2.975rem);
}
