.slide__Projects {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  justify-items: center;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  transition: var(--transition);
  padding: 1rem;
}
.active__slide {
  opacity: 1;
  transform: translateX(0);
}
.next__slide {
  transform: translateX(100%);
}
.prev__slide {
  transform: translateX(-100%);
}
